//Website colors
$color-white                  : #fff;
$color-black                  : #000;

$color-blue                   : #00428f;
$color-blue-dark              : #001f43;

//Link colors
$color-link-base                    : $color-blue;
$color-link-base-hover              : $color-blue-dark;