//Website colors
$color-white                  : #fff;
$color-black                  : #000;
$color-blue                   : #55ACEE;

//Link colors
//ordinary link
//$color-link-base                    : $;
//$color-link-base-hover              : $;