.section {
  position: relative;
  display: table;
  width: 100%;
  table-layout: fixed;
  background-size: cover;
}

#section-0 {
  background: url('../images/bg-section-0.jpg');
  background-size: cover;

  .fp-tableCell {
    vertical-align: top;
  }
}

#section-1 {
  background-size: cover;
}

#section-2 {
  background: url('../images/bg-section-2.jpg');
  background-size: cover;
}

#section-3 {
  background: url('../images/bg-section-3.jpg');
  background-size: cover;
}

.content {
  h1 {
    padding-top: 3em;
    padding-bottom: 4em;
  }
}

.advantages {
  width: 330px;
  position: absolute;
  left: 50%;
  margin-left: -165px;
  bottom: 5em;

  li {
    position: relative;
    padding-left: 35px;
    padding-bottom: 10px;
    color: $color-blue-dark;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      @extend .icon-checkmark;
      @extend .icon-size-24;
    }
  }
}


//business
.business {
  .row {
    background: $color-gray-light;
  }

  .heading {
    margin-top: 120px;
    margin-bottom: 120px;

    h1 {
      margin-bottom: 40px;
    }
  }

  .business-information {
    padding: 50px 60px 0 60px;
  }
}