.btn {
  border-radius: 0;
  border: 1px solid;
  @include transition(all 0.3s ease);
}

.btn-default {
  background: $color-button-default;
  color: white;
  border: 1px solid transparent;

  &:hover {
    background: none;
    color: $color-button-default;
    border-color: $color-button-default;
  }
}

.btn-additional {
  background: none;
  color: $color-blue-dark;
  border-color: $color-button-default;

  &:hover {
    background: $color-blue-dark;
    color: white;
  }
}

.btn-noborder {
  border-color: transparent;

  &:hover {
    background: none;
    border-color: $color-button-default;
  }
}

.btn-transparent {
  background: none;

  &:hover {
    background: $color-blue-dark;
  }
}

.btn-lg {
  padding: 15px 30px;
  font-size: 24px;
}

.btn-request-call {
  width: auto;
  margin-top: -3px;
  padding: 7px 20px;
}