@font-face {
  font-family: 'Proxima';
  src: url('../fonts/ProximaNova-Regular.otf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Proxima Bold';
  src: url('../fonts/ProximaNova-Bold.otf');
  font-style: normal;
  font-weight: 800;
}

body {
  font-family: 'Proxima';
  font-size: 18px;
  line-height: 1.4;
  color: #333;
}

html {
  -webkit-font-smoothing: antialiased;
  @include text-shadow(1px 1px 1px rgba(0,0,0,0.004));
}

h1 {
  font-size: 48px;
  color: $color-text-heading;
}

h2 {
  font-size: 36px;
  color: $color-text-heading;
  margin-bottom: 20px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p {
  line-height: 1.6;
}

a {
  color: $color-link-base;

  &:hover {
    color: $color-link-base-hover;
  }
}

.text-small {
  color: $color-text-small;
  line-height: 1.6;
}