body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
}

h1 {
  font-size: 48px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: $color-blue-dark;
}

h2 {
  font-size: 30px;
  font-weight: 500;
  color: $color-blue-dark;
  margin-bottom: 20px;
}

h3 {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}

p {
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

a {
  color: $color-link-base;

  &:hover {
    color: $color-link-base-hover;
  }
}